body, body * {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}



:root {
    --background-color: rgba(29, 28, 26, 0.8);
    --text-color: #fff;
    --icon-color: #424850;
}



#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    width: 486px;
    height: 128px;
    border-radius: 32px;
}

#textDiv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

p {
    color: var(--text-color);
    font-size: 5rem;
    z-index: 1;
}

img {
    position: absolute;
    top: 0;
    bottom: 0;
}

canvas {
    width: 500px;
    height: 180px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.addedTime {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: none;
    z-index: 100;
    font-weight: 400;
    font-size: 3.25rem;
    color: rgba(240, 30, 44, 0.5);
    transition: top 1s ease-out, opacity .5s ease-out;
}